# Ignore collection subdirectories completely (they're separate repos)
solti-monitoring/
solti-containers/
solti-ensemble/
solti-platforms/
solti-monitoring.wiki/
solti-docs/

# This is my solti-orchestrator
# It is managed by a private repo
mylab/

# working to remove
testing-containers

# Standard ignores
*.pyc
__pycache__/
.ansible/
*.retry
.DS_Store
*.swp
*.log
.venv/
venv/
ye
