# Ignore collection subdirectories completely (they're separate repos)
solti-monitoring/
solti-containers/
solti-ensemble/
solti-monitoring.wiki/
solti/

# working to remove
testing-containers

# Standard ignores
*.pyc
__pycache__/
.ansible/
*.retry
.DS_Store
*.swp
*.log
.venv/
venv/
ye